[submodule "colosseum-near-rt-ric"]
	path = colosseum-near-rt-ric
	url = https://github.com/wineslab/colosseum-near-rt-ric
[submodule "ns-o-ran-grafana"]
	path = ns-o-ran-grafana
	url = https://github.com/wineslab/ns-o-ran-grafana
[submodule "ns3/ns-3-dev"]
	path = ns3/ns-3-dev
	url = https://gitlab.com/nsnam/ns-3-dev.git
[submodule "oran-e2sim"]
	path = oran-e2sim
	url = https://github.com/wineslab/ns-o-ran-e2-sim
[submodule "ric-dep"]
	path = ric-dep
	url = https://gerrit.o-ran-sc.org/r/it/dep
