[submodule "src/asn1c"]
	path = src/asn1c
	url = https://gitlab.eurecom.fr/oai/asn1c.git
[submodule "src/oaic/RIC-Deployment"]
	path = src/oaic/RIC-Deployment
	url = https://github.com/openaicellular/RIC-Deployment.git
[submodule "src/ns3/--recursive"]
	path = src/ns3/--recursive
	url = https://gitlab.com/nsnam/ns-3-dev.git
[submodule "src/ns3/ns-3-dev"]
	path = src/ns3/ns-3-dev
	url = https://gitlab.com/nsnam/ns-3-dev.git
[submodule "src/oran-e2sim"]
	path = src/oran-e2sim
	url = https://github.com/wineslab/ns-o-ran-e2-sim
[submodule "src/colosseum-near-rt-ric"]
	path = src/colosseum-near-rt-ric
	url = https://github.com/wineslab/colosseum-near-rt-ric
	branch = ns-o-ran
[submodule "src/ns-o-ran-grafana"]
	path = src/ns-o-ran-grafana
	url = https://github.com/wineslab/ns-o-ran-grafana.git
[submodule "src/osc/ric-dep"]
	path = src/osc/ric-dep
	url = https://gerrit.o-ran-sc.org/r/ric-plt/ric-dep
[submodule "simulations/ns-o-ran-oaic/oaic"]
    path = simulations/ns-o-ran-oaic/oaic
    url = https://github.com/openaicellular/oaic.git
